node_modules
dist
.git
.gitignore
coverage
logs
scripts
.vscode
.env
.env.prod
nest-cli.json
README.md
.eslintrc.js

docker-compose.prod.yml
docker-compose.yml
bitbucket-pipelines.yml
Dockerfile
