<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Password Changed</title>
  </head>
  <body>
    <div
      style='max-width: 600px; margin: 50px auto; padding: 20px; border-radius: 5px; font-family: Arial, sans-serif;'
    >
      <div
        style='display: flex; gap: 0.5rem; margin-bottom: 3rem; align-items: center; border-bottom: 1px solid #e2e8f0; padding-bottom: 1rem'
      >
        <div
          style='height: 3rem; width: 3rem; overflow: hidden; margin-right: 0.5rem;'
        >
          <img
            src='https://res.cloudinary.com/dwkvw91pm/image/upload/v1709739973/k5pokg1gtvcmsl2ougpk.png'
            alt='navinotes logo'
            style='height: 100%; width: 100%;'
          />
        </div>
        <h1 style='margin: 0'>NAVINOTES</h1>
      </div>

      <h2>Password Changed</h2>

      <div style='margin: 1rem 0;'>
        <p>
          Hey
          {{username}},
        </p>
        <p>
          Your password change was successful. If you didn't request this
          change, we recommend you immediately log in and reset your password.
          If you notice any suspicious activity, please email us at
          [your-email@example.com].
        </p>
      </div>

      <p style='color: #94a3b8; font-size: 0.8rem;'>
        Remember, Navinotes will never ask for your password or personal
        information in emails. Always be cautious of suspicious emails.
      </p>
    </div>
  </body>
</html>