<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Verify Your Account</title>
  </head>
  <body>
    <div
      style='max-width: 600px; margin: 50px auto; padding: 20px; border-radius: 5px; font-family: Arial, sans-serif;'
    >
      <div
        style='display: flex; gap: 0.5rem; margin-bottom: 3rem; align-items: center; border-bottom: 1px solid #e2e8f0; padding-bottom: 1rem'
      >
        <div
          style='height: 3rem; width: 3rem; overflow: hidden; margin-right: 0.5rem;'
        >
          <img
            src='https://res.cloudinary.com/dwkvw91pm/image/upload/v1709739973/k5pokg1gtvcmsl2ougpk.png'
            alt='sparx logo'
            style='height: 100%; width: 100%;'
          />
        </div>
        <h1 style='margin: 0'>SPARX</h1>
      </div>

      <h2>Welcome to Sparx, {{username}}!</h2>

      <div style='margin: 1rem 0;'>
        <p>
          We're excited to have you onboard. To get started and ensure a secure
          experience, please verify your email address by clicking the button
          below.
        </p>
        <p>
          The verification link will expire in 24 hours.
        </p>
      </div>

      <a
        href='{{url}}'
        style='display: inline-block; padding: 10px 20px; background-color: #4f46e5; color: #ffffff; border: none; border-radius: 5px; text-decoration: none; box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3); margin-top: 2rem; margin-bottom: 1rem;'
      >Verify Email</a>

      <p style='color: #94a3b8; font-size: 0.8rem;'>
        If you didn't sign up for Sparx, you can safely ignore this email.
        Ensure you're on the official Sparx site before taking any actions.
      </p>
    </div>
  </body>
</html>